﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="brandAnalysisExclusiveChart.aspx.cs" Inherits="brandAnalysisExclusiveChart" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Brand Analysis Exclusive Chart</title>
</head>
<body>
    <form id="form1" runat="server">
<div>
            <table width="100%" height="100%">
				<tr>
					<td align="middle">
						<img src="brandAnalysisChartInner.aspx?isExclusive=1">
					</td>
				</tr>
			</table>    
    </div>
    </form>
</body>
</html>
