﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="brandAnalysis_details.aspx.cs" Inherits="brandAnalysis_details" %>

<HTML>
	<HEAD>
		<title>Brand Analysis Print Report</title>
		<meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
        <meta name="DownloadOptions" content="noopen" />
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="css/report_caption.css" rel="stylesheet" text="text/css">
	    <style type="text/css">
            .style1
            {
                font-family: Helvetica;
                font-size: 14px;
                color: Grey;
                width: 2%;
            }
        </style>
	</HEAD>
	<body leftmargin="0" rightmargin="0" topmargin="0">
		<form id="Form1" method="post" runat="server">
			<table height="53" cellSpacing="0" cellPadding="0" width="100%" border="0">
				<tr>
					<td vAlign="top" align="top" width="760" height="53" border="0"><img src="images/bgTop.gif"></td>
					<td vAlign="top" width="100%"><IMG height="28" src="images/bgTopExt.gif" width="100%" border="0"></td>
				</tr>
			</table>
			<span name="prn" ID="prn">
				<table height="0" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td width="100%" align="right" colspan="2"><a href="#" onClick="prn.style.display='none';print();"><IMG src="images/icon_print.gif" border="0"></a>&nbsp;&nbsp;</td>
					</tr>
				</table>
			</span>
			<table width="100%">
				<tr>
					<td class="date" width="12%">Date Range</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_Date_Range" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Market</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_market" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Station</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_station" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Brand</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_brand" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Parent</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_parent" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Category</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_category" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="12%">Duration</td>
					<td class="style1">:</td>
					<td width="85%"><asp:Label ID="label_duration" Runat="server" CssClass="date"></asp:Label></td>
				</tr>
				<tr>
					<td class="date" width="100%" colspan="3">&nbsp;</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td width="100%">
						<asp:DataGrid ID="datagrid_disp_details" Runat="server" Width="100%"
						onitemdatabound="datagrid_disp_details_ItemDataBound">
							<HeaderStyle HorizontalAlign="Center"></HeaderStyle>
							<ItemStyle HorizontalAlign="Center"></ItemStyle>
						</asp:DataGrid>
					</td>
				</tr>
				<tr>
					<td width="100%">&nbsp;</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>