﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="categoryAnalysisRevisedExclusive.ascx.cs" Inherits="categoryAnalysisRevisedExclusive" %>
<style type="text/css">
      
        .dgHierarchicalz
        {
            line-height: 10px;
        }
        
    </style>

<font size="1px" color="#0054BA" face="Helvetica" style="FONT-WEIGHT: bold;line-height: 15px;">
	Brand Details:</font>
<asp:DataGrid id="DG1" style="Z-INDEX: 101" Width="100%" runat="server" 
    BorderColor="#999999" BorderStyle="None" BorderWidth="1px" BackColor="White" 
    CellPadding="3" ondatabinding="DG1_DataBinding" 
    onitemdatabound="DG1_ItemDataBound" CssClass="dgHierarchicalz">
	<SELECTEDITEMSTYLE CssClass="date"></SELECTEDITEMSTYLE>
	<ALTERNATINGITEMSTYLE CssClass="dgHierarchicalz"></ALTERNATINGITEMSTYLE>
	<ITEMSTYLE CssClass="dgHierarchicalz"></ITEMSTYLE>
	<HEADERSTYLE BackColor="Peachpuff"></HEADERSTYLE>
</asp:DataGrid>
<br>
<br>
