﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Compare_Reports.aspx.cs" Inherits="Compare_Reports" %>
<html>
	<head>
		<title>Report Home : Comparison Report</title>
		<meta http-equiv="x-ua-compatible" content="IE=10">
	</head>
	<frameset cols="50%,50%">
	<frame name="frmLeft" src="DatewisePlaylist_Compare.aspx?location=Left">
	<frame name="frmRight" src="DatewisePlaylist_Compare.aspx?location=Right">
</frameset>
</html>


