﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="compare_Commercials_Spots_frame.aspx.cs" Inherits="compare_Commercials_Spots_frame" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Report Home : Comparison Report</title>
	</head>
</html>

<frameset cols="50%,50%">
	<frame name="frmleft" src="Commercials_Spots_compare.aspx?location=Left">
	<frame name="frmright" src="Commercials_Spots_compare.aspx?location=Right">
</frameset>
