﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DetectScreen.aspx.cs" Inherits="DetectScreen" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
   <script language="javascript">
       resWidth = document.documentElement.clientWidth
       resHeight = document.documentElement.clientHeight
       top.location.href = "DetectScreen.aspx?XVal=" + resWidth + "&YVal=" + resHeight
      
   </script>
</body>
</html>
