﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="login.aspx.cs" Inherits="login" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Aircheck India Reports</title>
    <link href="css/style_risk.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
//var msg = document.getElementById("msg");
//if(navigator.appName == "Microsoft Internet Explorer")
//{
//    //msg.style.display = "none";
//}
//else
//{
//    //msg.style.display = "";
//    window.location = "browserError.aspx"
//}
</script>    
<style type="text/css">
<!--
body
{

    scrollbar-base-color: #ffffff; 
    scrollbar-track-color: #FFFFCC;
    scrollbar-face-color: #CCCCFF;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    scrollbar-arrow-color: #009966;
}
a {
text-decoration: none;
}
    .style1
    {
        font-size: x-small;
    }
-->
</style>
</head>
<script language="javascript">
function showMRORestrictions()
{
    window.open(location.protocol+'//'+location.host+'/RiskLimit/userMRODetails.aspx','','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=450,height=620,left=50,top=50,titlebar=yes')
    return false;    
}
function openWindow(page,uid)
{    
    var valueDate="<%=Session["valueDate"]%>";
    window.open(page+"&valueDate="+valueDate+"&uid="+uid);
    return false; 
}
function openWindowPeriodic(page,uid)
{    
    var startDate="<%=Session["valueDate"]%>";
    window.open(page+"&startDate="+startDate+"&endDate="+startDate+"&uid="+uid+"&Filter=2");
    return false; 
}    
</script>  
<script language="javascript" type="text/javascript">
    function tdhide(m, imgObj) {
        var imgcurrObj = document.getElementById(imgObj);

        var obj = document.getElementById(m);
        if (obj.style.display == 'none') {
            imgcurrObj.src = location.protocol + "images/collapse.gif";
        } else {
            imgcurrObj.src = location.protocol + "images/expand.gif";
        }

        obj.style.display = obj.style.display == 'none' ? '' : 'none';
    }



  


</script>
<body style="margin-left:0; margin-top:0; margin-right:0;">
    <form id="form1" runat="server" defaultbutton="Button1">
  
    	        
    	        
	<table style="height:53;" cellSpacing="0" cellPadding="0" width="100%" border="0">
		<tr>
			<td style="BACKGROUND-REPEAT: no-repeat" vAlign="top" noWrap align="top" width="760" background="images/bgTop.gif" height="53" border="0">
        </td>
			<td vAlign="top" noWrap width="100%"><IMG height="28" src="images/bgTopExt.gif" width="100%" border="0"/></td>
		</tr>
        </table>   	            
 	       
       
    
 
              
    <table border="0" cellspacing="0" cellpadding="0" class="bgColor widthHeight">
       <tr>
        <td class="middleContainer">
            <table cellpadding="0" cellspacing="0" border="0" class="widthHeight">
    	        <tr>
                    
			        
                    <td class="tdBgcol" valign="top">
                    
                <div class="contentHeader">
                    <div class="monitoring">
                        <table style="width:100%">
                            <tr>
                                <td align="left" style="width:65%">
                                    <b><asp:Label ID="lblReportName" runat="server"></asp:Label></b></td>
				                <td align="right" style="width:35%"><asp:ImageButton onclick="btnHome_Click" ID="imgBtnHome" runat="server" CausesValidation="false" ImageUrl="images/home.png" Width="20Px" Height="20Px" AlternateText="Home" />
				                    <br />
                                </td>
                                    
                             </tr>
                         </table>                
                    </div>
                </div>
                <div>

<table cellspacing="0" cellpadding="0" width="100%">
     <tr>
          <td class="resultContainer" style="width:100%;height: 16px" >





<table width="95%" border="0" align="center" cellpadding="0" cellspacing="1" class="greybox">
				<tr valign="top">
					<td bgcolor="#ffffff" colspan="2" class="txt2" align="right">
						<table width="100%" border="0" align="center" height="300">
							<tr>
								<td style="width:100%" class="whitebox" align="right">
<TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
										<tr>
											<td colspan="2" width="100%" align="center">
												<table width="100%">
												    <tr><td>&nbsp;</td></tr>
												    <tr><td><br /></td></tr>
												    <tr><td><br /></td></tr>
												    <tr><td><br /></td></tr>
												    <tr><td><br /></td></tr>
												    
													<tr>
														<td width="100%" align="center"><asp:label id="lblMessage" Runat="Server" CssClass="date" Font-Bold="True" ForeColor="Red"></asp:label></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td colSpan="2">&nbsp;</td>
										</tr>
										<tr>
											<td colspan="2" width="100%" align="center">
												<table width="100%">
													<tr>
														<td width="45%" align="right" class="date"><span class="style1">Username:</span>&nbsp;&nbsp;</td>
														<td width="55%" align="left" class="date">
														<asp:textbox 
                                                                id="txtUsername" Runat="Server" Width="150px" TabIndex="1">administrator</asp:textbox><asp:requiredfieldvalidator id="Requiredfieldvalidator3" Runat="Server" CssClass="date" ControlToValidate="txtUsername"></asp:requiredfieldvalidator></td>
													</tr>
													<tr>
														<td colspan="2">&nbsp;</td>
													</tr>
													<tr>
														<td width="45%" align="right" class="date"><span class="style1">Password:</span>&nbsp;&nbsp;</td>
														<td width="55%" align="left" class="date"><asp:textbox CausesValidation="false" 
                                                                id="txtPassword" Runat="Server" Width="150px" TextMode="Password" TabIndex="2">ch@lteph1rte</asp:textbox></td>
													</tr>
													<tr>
														<td colspan="2">&nbsp;</td>
													</tr>
													
													<tr>
														<td colspan="2">&nbsp;</td>
													</tr>
													<tr>
														<td colspan="2" width="100%" align="center" class="date" valign="top"><asp:button id="Button1" 
                                                                Runat="Server" Forecolor="white" font-names="Arial" font-bold="true" 
                                                                backcolor="#336699" font-size="8"  Text="Login!" onclick="Button1_Click" 
                                                                TabIndex="4"></asp:button>&nbsp;&nbsp;<asp:button CausesValidation="false" 
                                                                id="btnForgotPassword" Runat="Server" Text="Forgot/Change Password" 
                                                                Forecolor="white" font-names="Arial" font-bold="true" backcolor="#336699" 
                                                                font-size="8" onclick="btnForgotPassword_Click" TabIndex="5" Width="155px"></asp:button></td>
													</tr>
											        <tr>
														<td colspan="2" width="100%" align="center" class="date">
														&nbsp;&nbsp;
																
														</td>
													</tr>													
												</table>
											</td>
										</tr>
										<tr>
											<td style="HEIGHT: 23px" colSpan="2">&nbsp;</td>
										</tr>
										<tr>
											<td align="right"></td>
											<td align="left"></td>
										</tr>
									</TABLE>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

                
           </td>
     </tr>

     
</table>            
        
                 

                </div>
            </td>
                </tr>
            </table>
        </td>
    </tr>
       <tr>
            <td class="footer" align="center" 
                style="font-family: Helvetica; font-size: 9px">
            <asp:Label id="lblFooter" runat="server" Text="© 2009 Aircheck India. All rights reserved."></asp:Label>
            </td>
        </tr>
</table>

    </form>
</body>
</html>


