﻿body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

body 
*, html, body, div, td, span{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10.5px;	}
body{font-family:Verdana, Arial, Helvetica, sans-serif;	padding:0px; margin:1px; font-size:10.5px;}

#header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	height:16px;
	line-height:15px;
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:left;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
}

#footer {
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	height:31px;
	background-color:#222;
	padding:0;
	
}

#wrapper {
	position:absolute; z-index:1;
	top:53px; bottom:31px; left:0;
	width:100%;
	background:#FFF;
	overflow:auto;
	
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	height: 100%;
}