﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="marketShareOfEachStation.aspx.cs" Inherits="marketShareOfEachStation"
    Title="Untitled Page" %>
<%@ Register assembly="IdeaSparx.CoolControls.Web" namespace="IdeaSparx.CoolControls.Web" tagprefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
      
        .gvHeaderRow
        {
            background-image: url("images/dhrudde.png");
            font-family: Helvetica;
            font-size: 12px;
            color: White;
            text-decoration: none;
            line-height: 20px;
            padding-left: 10px;
            border-left: solid 1px white;
            border-right: solid 1px white;
            border-bottom: solid 1px white;
            position: relative;
        }
        
    </style>

<script type="text/javascript" language="javascript">
    function ToggleCollapsePane() {
               
               var splitter = $find("<%= Page.Master.FindControl("RadSplitter1").ClientID %>");
               var pane = splitter.getPaneById("<%= Page.Master.FindControl("RadPane1").ClientID %>");
                pane.collapse();
//               if (!pane) return;
// 
//               if (pane.get_collapsed()) {
//                    pane.expand();
//               }
//               else {
//                    pane.collapse();
//               }
             
    }
    
    function getWidth(ContainerW)
    {
           //    document.getElementById("tl00_ContentPlaceHolder2_gvDatajEsCoOl_mainDiv").style.Width="300px";
    }
    
    function formatGrid(el)
    {
        el = document.getElementById(el);               
        var numOfCols = 
        el.getElementsByTagName("TR")[1].getElementsByTagName("TD").length;                
        var colGrp = document.createElement("colgroup");                
        var col = document.createElement("col");
        col.setAttribute("span", numOfCols-1);
        col.setAttribute("width", "200");
        col.setAttribute("white-space", "nowrap");
        col.setAttribute("padding-left", "2");
        col.setAttribute("padding-right", "2");
        col.setAttribute("border-width", "2");
        colGrp.appendChild(col);                
        el.insertBefore(colGrp, el.firstChild);                
    }
    
    
    function addNoWrapSpan(el, noWrap)
{
    var span = document.createElement("span");
    while(el.childNodes.length > 0)
    {
        var child = el.firstChild;
        el.removeChild(child);
        span.appendChild(child);
    }                
    if(noWrap)
    span.style.whiteSpace = "nowrap";
    else
    span.style.whiteSpace = "inherit";
    el.appendChild(span);
}
function setNoWrap(el, noWrapTH, noWrapTD)
{
    el = document.getElementById(el);
    if(noWrapTH)
    {
        var allTHs = el.getElementsByTagName("TH");                
        for(var i = 0; i < allTHs.length; i++)
        {
            addNoWrapSpan(allTHs[i], noWrapTH);
        }
    }
    if(noWrapTD)
    {
        var allTDs = el.getElementsByTagName("TD");                
        for(var i = 0; i < allTDs.length; i++)
        {
            addNoWrapSpan(allTDs[i], noWrapTD);
        }
    }
}
    
    
    
    function disp_chart() 
        {
            win = window.open("marketShareOfEachStationChartRevised.aspx", "win", "width=800,height=400,left=0, scrollbars=yes, resizable=yes");
            return false
        }
    function nodeChecked(sender, args) {
var comboBox = $find("<%= txtMarketSelect.ClientID %>");            
     
            var tree = comboBox.get_items().getItem(0).findControl("radTreeCities");
            var node = args.get_node();
            var rootNodeSelCount = 0;
            var nodesJ=tree.get_nodes(); 
            var marketsval="";
              for (i=0; i<nodesJ.get_count(); i++) 
               {                
                   if (nodesJ.getNode(i).get_checked()) 
                   { 
                       //alert(nodesJ.getNode(i).get_text());
                       marketsval = marketsval + nodesJ.getNode(i).get_text().toString() + ",";
                       rootNodeSelCount =  rootNodeSelCount + 1;
                   } 
               }
               
               if(rootNodeSelCount > 1)
               {
                   alert('Cannot select more than 1 markets');
                   node.uncheck();
                   return false;
               }
 
            var tempNode = args.get_node();
            if (tempNode.get_text().toString() == "(Select All)") 
            {
                // check or uncheck all the nodes
            } else {
                var nodes = new Array();
                nodes = sender.get_checkedNodes();
                var vals = "";
                var i = 0;
                var icount = 0;

                for (i = 0; i < nodes.length; i++) {
                    var n = nodes[i];
                    var nodeText = n.get_text().toString();
                    if (nodeText != "(Select All)") {
                        if (n._hasChildren() == true) {
                        } else {
                            vals = vals + n.get_text().toString() + ",";
                        }
                    }
                }
             
                comboBox.set_text(marketsval);
            }
    }
        function OnKeyPress(sender, eventArgs) 
        { 
            var c = eventArgs.get_keyCode(); 
            if (c == 13) 
            { 
               
//               if(calcDays())
//                {                       
//                    button.set_autoPostBack(true); 
//                }                
//                else
//                {                              
//                    button.set_autoPostBack(false);                        
//                }
            }else{
               
            }        
        } 
    function nodeClicking(sender, args) {
        var comboBox = $find("<%= txtMarketSelect.ClientID %>");

        var node = args.get_node();

        if (node.get_parent() == node.get_treeView()) {
            alert("Please select a station. Market selection not allowed.");

        }
        else {
            comboBox.set_text(node.get_text());
            comboBox.get_items().getItem(0).set_value(node.get_value());
        }

    }

    function OnClientDropDownOpenedHandler(sender, eventArgs) {

        var tree = sender.get_items().getItem(0).findControl("radTreeCities");

        if (!!tree) {
            var selectedNode = tree.get_selectedNode();
            if (selectedNode) {
                selectedNode.scrollIntoView();
            }
        }
    }
        function calcDays()
        {

            ToggleCollapsePane();
            var startDate =$find("<%=dtStart.ClientID %>");
            var endDate =  $find("<%=dtEnd.ClientID %>");
            
            var sDate = startDate.get_selectedDate();
            var eDate = endDate.get_selectedDate();
            
           var lockDataBefore="<%=Session["lockDataBefore"]%>";
		    var lockDataAfter="<%=Session["lockDataAfter"]%>";
            if(sDate == null)
            {
                lockDataBefore = new Date(lockDataBefore);
                var curr_date = lockDataBefore.getDate();
                var curr_month = lockDataBefore.getMonth();
                curr_month = curr_month + 1;
                var curr_year = lockDataBefore.getFullYear();
                lockDataBefore= curr_date + '/'+ curr_month + '/'+ curr_year;
                alert("Data Access Rights only from " + lockDataBefore);
                return false;
            }
            
            if(eDate == null)
            {
                lockDataAfter = new Date(lockDataAfter);
                var curr_date = lockDataAfter.getDate();
                var curr_month = lockDataAfter.getMonth();
                curr_month = curr_month + 1;
                var curr_year = lockDataAfter.getFullYear();
                lockDataAfter= curr_date + '/'+ curr_month + '/'+ curr_year;
                alert("Data Access Rights till " + lockDataAfter);
                return false;
            }
                    
//            tdhide('leftMenu', 'ctl00_showHide','hide');            
            
            
            var comboBox = $find("<%= txtMarketSelect.ClientID %>");    
            var treeS = comboBox.get_items().getItem(0).findControl("radTreeCities");
            
            var rootNodesS = treeS.SelectedNode;
            var nodesS = treeS.get_allNodes();
            
            var i;
            var isChecked = 0;
             for(i=0; i<nodesS.length; i++)
             {
                if(!nodesS[i].get_checked())
                {
                
                }
                else
                {
                    isChecked = 1;
                }
             }            
            if (isChecked == 0)
            {
                alert("You have not selected any Market/Station.");
                return false;
            }
            else if(days_between(sDate,eDate) > 30)
            {
                alert("Maximum allowed date range is one month.");
                return false;
            }
            else
            {
                //disp_clock();
                return true;
            }
         
        } 
        
        function OnClientClicked(button, args)
        {
           if (calcDays())
           {
                button.set_autoPostBack(true); 
           }                
            else
            {                              
                button.set_autoPostBack(false);                        
            }
        }
        function getrootcount(sender, args) {

            //        var tree = sender.get_items().getItem(0).findControl("radTreeCities");
            //        var allNodes = tree.get_nodes().getNode(0).get_allNodes();
            //        for (var i = 0; i < allNodes.length; i++) {
            //            var node = allNodes[i];
            //            alert(node.get_text());
            //        }
        }
        function days_between(date1, date2) {

            // The number of milliseconds in one day
            var ONE_DAY = 1000 * 60 * 60 * 24

            // Convert both dates to milliseconds
            var date1_ms = date1.getTime()
            var date2_ms = date2.getTime()

            // Calculate the difference in milliseconds
            var difference_ms = Math.abs(date1_ms - date2_ms)
            
            // Convert back to days and return
            return Math.round(difference_ms/ONE_DAY)

        }
        function HideTreeView() {
        if (document.getElementById("treeDiv") != null)
        {
            document.getElementById("treeDiv").style.visibility = "hidden";
        }
    }
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div style="width: 99.7%; height: 100%; margin-left:4px">
        <div>
            <table width="100%" background="images/contentheader_bgr.gif" border="0" cellpadding="6px" cellspacing="0px" style="margin-left:-5px; margin-right:300px;">
                <tr>
                    
                    <td align="left">::
                        <asp:Label ID="Pg_Title" runat="server" Font-Bold="True" ForeColor="#000099"></asp:Label>&nbsp;::
                    </td>
                    <td>
                    </td>
                    <td align="right">
                        <asp:Label ID="lbl_Logout" runat="server" Text="Welcome: Administrator[Logout]" 
                            Font-Bold="True" ForeColor="#000099"></asp:Label>
                    </td>
                </tr>
            </table>

    <table border="0">
        <tr>
            <td style="margin-left: 40px" align="left">
                &nbsp;Start Date
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;End Date
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;Select Market/Station
            </td>
            <td style="margin-left: 40px" align="left">
                Search
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;&nbsp;
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td style="margin-left: 40px" align="left">
                &nbsp;<telerik:RadDatePicker ID="dtStart" runat="server" Culture="English (United States)"
                    MinDate="2004-01-01">
                    <Calendar UseColumnHeadersAsSelectors="False" UseRowHeadersAsSelectors="False" ViewSelectorText="x">
                    </Calendar>
                    <DatePopupButton HoverImageUrl="" ImageUrl="" />
                    <DateInput DateFormat="dd/MM/yyyy" DisplayDateFormat="dd/MM/yyyy">
                    </DateInput>
                </telerik:RadDatePicker>
            </td>
            <td style="margin-left: 40px" align="left">
                <telerik:RadDatePicker ID="dtEnd" runat="server" Culture="English (United States)"
                    MinDate="2004-01-01">
                    <Calendar UseColumnHeadersAsSelectors="False" UseRowHeadersAsSelectors="False" ViewSelectorText="x">
                    </Calendar>
                    <DatePopupButton HoverImageUrl="" ImageUrl="" />
                    <DateInput DateFormat="dd/MM/yyyy" DisplayDateFormat="dd/MM/yyyy">
                    </DateInput>
                </telerik:RadDatePicker>
                <asp:CompareValidator Display="Dynamic" ID="dateCompareValidator" runat="server"
                    ControlToValidate="dtEnd" ControlToCompare="dtStart" Operator="GreaterThanEqual"
                    Type="Date" ErrorMessage="The End date must be after the Start date." Style="font-size: x-small"></asp:CompareValidator>
            </td>
            <td style="margin-left: 40px" align="left">
                <telerik:RadComboBox ID="txtMarketSelect" runat="server" AfterClientCheck="AfterCheckHandler"
                    CollapseAnimation-Type="None" EmptyMessage="Choose a Market/Station" ExpandAnimation-Type="None"
                    OnClientDropDownOpened="OnClientDropDownOpenedHandler" ShowToggleImage="True"
                    Style="vertical-align: middle;" Width="200px">
                    <ItemTemplate>
                        <div id="div2">
                            <telerik:RadTreeView ID="radTreeCities" runat="server" Height="200px" OnClientNodeChecked="nodeChecked"
                                OnClientNodeClicked="nodeClicking" CheckBoxes="true" Width="100%" TriStateCheckBoxes="true">
                            </telerik:RadTreeView>
                        </div>
                    </ItemTemplate>
                    <Items>
                        <telerik:RadComboBoxItem Text="" />
                    </Items>
                </telerik:RadComboBox>
            </td>
            <td style="margin-left: 40px" align="left">
                <telerik:RadTextBox ID="txtSearch" runat="server">
                    <ClientEvents OnKeyPress="OnKeyPress" />
                </telerik:RadTextBox>
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;&nbsp;
                <telerik:RadButton ID="btnGenerateReport" runat="server" Text="Generate Report" OnClientClicked="OnClientClicked"
                    OnClick="btnGenerateReport_Click">
                </telerik:RadButton>
            </td>
            <td style="margin-left: 40px" align="left">
                &nbsp;<a href="" onclick="javascript: return disp_chart();"><img style="border: 0"
                    alt="View pie chart" src="images/pieChart.png" visible="false" runat="server"
                    id="imgChart" /></a>
            </td>
        </tr>
    </table>

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="left" style="width: 100%">
                    <div id="divWait" style="display: none">
                        <table style="height: 310Px" width="100%">
                            <tr>
                                <td align="center" width="100%">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <img src="images/aniClock.gif" border="0" name="ProgressBarImg"><br>
                                    <font class="date">Acquiring Data... one moment please!</font>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="DIV1">
                        <asp:Label ID="lblError" runat="server" ForeColor="#FA9000" Font-Bold="true" Font-Size="15Px"></asp:Label>
                        <cc1:CoolGridView UseAccessibleHeader="true" EnableViewState="false" ID="gvData" runat="server" Height="410px"
                        FixHeaders="True" ShowFooter="True" width="1320px"
        OnRowCreated="gvData_RowCreated" OnRowDataBound="gvData_RowDataBound" 
        BorderStyle="None" BorderWidth="0px" AutoGenerateColumns="true" ColumnNosWidth="250px" FixedColumnsNos="3">
    <HeaderStyle CssClass="gvHeaderRow" />
<BoundaryStyle BorderColor="Gray" BorderWidth="0px" BorderStyle="None"></BoundaryStyle>
                        </cc1:CoolGridView>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <asp:Literal ID="litExportTo" runat="server" Text="Export to: "></asp:Literal>
                    <telerik:RadButton ID="btnExportToExcel" runat="server" Text="Excel" OnClick="img_btn_export_to_excel_Click">
                    </telerik:RadButton>
                </td>
            </tr>
        </table>
        <asp:TextBox ID="txtArray" runat="server" Style="visibility: hidden; height: 0Px"></asp:TextBox>
  </div>
</asp:Content>
