﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopCategoriesBrands.ascx.cs" Inherits="TopCategoriesBrands" %>
<font size="1px" color="#0054BA" face="Verdana, Arial, Helvetica, sans-serif" style="FONT-WEIGHT: bold;">
	Brand Details:</font>
<asp:DataGrid id="DG1" style="Z-INDEX: 101" Width="100%" runat="server" 
    BorderColor="#999999" BorderStyle="None" BorderWidth="1px" BackColor="White" 
    CellPadding="3" ondatabinding="DG1_DataBinding" 
    onitemdatabound="DG1_ItemDataBound">
	<SELECTEDITEMSTYLE CssClass="date"></SELECTEDITEMSTYLE>
	<ALTERNATINGITEMSTYLE CssClass="greyFont_without_border"></ALTERNATINGITEMSTYLE>
	<ITEMSTYLE CssClass="greyFont_without_border"></ITEMSTYLE>
	<HEADERSTYLE CssClass="date" BackColor="Peachpuff"></HEADERSTYLE>
</asp:DataGrid>
<br>
<br>
