﻿<%@ Page Title="Aircheck" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="WelcomePage.aspx.cs" Inherits="WelcomePage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
     <br><br><br><br><br>
<table>
<tr>
<td align="center">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
<td align="center" style="width: 604px">
<asp:Image ID="iimgLogoo" runat="server" ImageUrl="images/aircheckLogoBig1.gif" />
</td></tr>
</table>
</asp:Content>

