.greybox {
	background-color: #949494;
}
.whitebox {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2E2E2E;

}
.date
{
	font-family: Helvetica;
	font-size: 14px;
	color: Grey;
}
.Exportfont
{
	font-family: Verdana;
	font-size: 11px;
	color: Black;
}
.input
{
	font-family: verdana, arial, sans-serif, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.greyFont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2E2E2E;
	font-size: 11px;
	font-weight: normal;
	border-top: 1px solid #D3D1D1;
}



 