
/*body {overflow:hidden;}*/
body 
*, html, body, div, td, span{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10.5px;	}
body{font-family:Verdana, Arial, Helvetica, sans-serif;	padding:0px; margin:1px; font-size:10.5px; /*background-color:#999;*/margin-bottom:55px;}
.container-risk {border-left:#2a4373 1px solid;	border-right:#2a4373 1px solid;	min-width:958px;height:100%;margin-left:auto;margin-right:auto;background:/*url(../images/navigation_background.gif) repeat-y*/ #3c5991;}

/* Added for Grid's Empty Data Row Height*/
.emptyRow td {padding: 1px 10px!important;}
.gridRowHeight {height:5px;}

html, body { 
overflow-y: hidden;
}

    
.dxgvDataRowAlt
{
	background-color:#f0f0f4 !important;
}
.dxgvSelectedRow
{
	background-color:Silver;
	color:Black;
}
.dxgvDataRow td
{
	padding: 1px 10px!important;
}
.dxgvSelectedRow td
{
	padding: 1px 10px!important;
}

/*Dev express style overridden end*/
.middleCenter
{
	text-align:center;
	vertical-align:middle;
}
.noData
{
	font-family:Verdana;
	text-decoration:none;
	color:#FF0000;
}
.errorDIV
{
	font-family:Verdana;
	text-decoration:none;
	color:#FF0000;
}
.containerBorder
{
	border-style:solid;
	border-width:1px;
	border-color:#a7a6be;
	border-top:0px;
}
.containerSideBorder
{
	border-style:solid;
	border-width:1px;
	border-color:#a7a6be;
	border-top:0px;
	border-bottom:0px;
}
.labelBold
{
	font-weight:normal;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	text-align:right;
	vertical-align:top;
}
.selectedNode
{
	/*background-color:#2b5776;*/
	/*color:White;*/
	text-align:left;
	font-weight:bold;
	
}
.labelLeft
{
	font-weight:normal;
	font-size:11px;
	font-family:Verdana;
	text-align:left;
	vertical-align:middle;
}
.gridHeader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(~/images/title_background.gif); PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; TEXT-ALIGN: center! important
}



/* 2008-05-28	Gopal	Added to reduce the size of checkbox in the gridview header*/
.checkbox  { 
   width : 1.3em; 
   height :1.3em; 
   padding: 0px; 
   margin: 0px; 
   vertical-align:top;
   } 


.gridHeaderCenter
{
	/*background-color:#3d6699;*/
	background:url(../images/title_background.gif);
	color:#FFFFFF;
	text-align:center;
	padding:4px;
}
.label
{
	font-weight:normal;
	font-size:11px;
	font-family:Verdana;
	text-align:right;
	vertical-align:middle;
}

.listStyle
{
	color:#004684;
}
.labelTop
{
	font-weight:normal;
	font-size:11px;
	font-family:Verdana;
	text-align:right;
	vertical-align:top;
}
/*amar classes ends*/
.header{ 
	height:42px;
	background:url(../images/header_bgr.gif) left top repeat-x; 
	padding:8px; 
	border-bottom:1px solid #2a4373;
	}

.logo{ 
	float:left;
	}

.headerRight{
	float:right;
	width:auto;
	display:block;
	padding:20px 10px 0px 0px;
}	

.welcomeUser{
	text-align:right;
	margin-bottom:3px;
	font-size:10px;
}

.searchInput{
	height:15px;
	width:175px;
	font-size:12px;
	font-family:Verdana;
	border:1px solid #616f8c;
}

.buttonStyle{ 
	background-color:#004684;
	color:#cfd9ec;
	font-weight:bold;
	font-size:11px;
	border:1px solid #000; 
}
	
.middleContainer{
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;	
	background:url(../images/contentarea_background.gif) left top repeat-x #4d6aa3;
	padding:6px;
	padding-left:0px;
}



.workArea{
	background-color:#f3f3f3;
	/*border:1px solid #a7a6be;*/
	padding:0px 6px 6px 6px;
}

.menuArea{
	width:225px;
	border-left:7px solid #3c5991;
	padding-top:6px;
}

.divider{
	width:7px;
	vertical-align:middle;
	text-align:center;
}
.contentArea{

}

.titleBar{ background:url(../images/title_background.gif) left top repeat-x #507399; height:26px; border-bottom:1px solid #385a88; margin-top:6px; font-size:12px;}
.titleBarLeftTop{ float:left; background:url(../images/title_corner_left_top.gif) left top no-repeat; display:block; width:6px; height:6px;}
.titleBarMiddle{ float:left; color:#FFFFFF; font-weight:bold; padding:6px 8px 3px 8px; }
.titleBarRightTop{ float:right; background:url(../images/title_corner_right_top.gif) right top no-repeat; display:block; width:6px; height:6px;}
.titleBar div span{ background:url(../images/arrow_down.gif) 0px 5px no-repeat; padding-left:10px;}
.titleBar a { text-decoration:none; color:#FFFFFF; }

.titleDisabled{background:url(../images/title_disabled_middle.gif) left top repeat-x #ededf2; height:26px; border-bottom:1px solid #bebdce; margin-top:6px; font-size:12px;}
.titleDisabledLeft{float:left; background:url(../images/title_disabled_left.gif) left top no-repeat; display:block; width:6px; height:26px;}
.titleDisabledMiddle{float:left; color:#2b5776; font-weight:bold; padding:6px 8px 3px 8px; }
.titleDisabledRight{ float:right; background:url(../images/title_disabled_right.gif) right top no-repeat; display:block; width:6px; height:26px;}
.titleDisabled div span{ background:url(../images/arrow_front.gif) 0px 3px no-repeat; padding-left:10px;}
.titleDisabled a {text-decoration:none;color:#2b5776;}


.menuContainer{ 
	border:1px solid #a7a6be;
	background:#FFFFFF;
	padding:4px;
}

* html .menuContainer ul, * html .menuContainer li { margin:3px 10px;}
.menuContainer ul, .menuContainer li { margin:0px;}

.contentView{
	border:1px solid #a7a6be;
	padding:7px;
	background:url(../images/waves.gif) left bottom repeat-x #fff;
	
}

.resultControl{
	background:url(../images/resultcontrol_background.gif) left top repeat-x #c5c8d5; padding:4px 8px 4px 8px; border:1px solid #a7a6be; border-bottom:0px; text-align:right;
}

.tableGridStyle{
	background-color:#b7b6cc;
}
.tableGridStyle a{
	color:#0090ff;
}
.tableGridStyle th{
	background-color:#3d6699;
	color:#FFFFFF;
	text-align:left;
	padding:4px;
}
.tableGridStyle td{
	padding:3px 4px;
}
.tableGridStyle tr{
	background-color:#fff;
}
.altColor{
	background-color:#f0f0f4 !important;
}
.divider img{
	cursor:pointer;
}

.formArea{
	background-color:#fbfbfb;
	border:1px solid #a8a8a8;
	padding:15px;
}
.inputStyleMidFlex{
	background:url(../images/textfield_background.gif) left top repeat-x #fff;
	border:1px solid #a3a3a3;
	width:200px;
	font-size:11px;
}

.inputStyleMid{
	background:url(../images/textfield_background.gif) left top repeat-x #fff;
	border:1px solid #a3a3a3;
	width:200px;
	font-size:11px;
	height:19px!important;
}
	
.inputStyleMidNoBorder{
	background:url(../images/textfield_background.gif) left top repeat-x #fff;
	width:200px;
	font-size:11px;
	font-family:Verdana;
}
.hyperLinkStyle{
	background:url(../images/textfield_background.gif) left top repeat-x #fff;
	border:1px none #a3a3a3;
	width:200px;
	font-size:11px;
	font-family:Verdana;
	font-weight:normal;
}
.hyperLinkStyle1
{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:#004684;
}
.treeNodeStyle
{
	font-family:Verdana;
	font-size:10px;
	color:#004684;
}

.sucessTextStyle
{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:Green;
}

.errorTextStyle
{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:#FF0000;
}

.hoverLinkOld
{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:#004684;
}

.hoverLink
{
	font-family:Verdana;
	text-decoration:underline;
	color:#004684;
	cursor:hand;
}


.hoverLinkOld:visited
{
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#004684;
}

.hoverLinkOld:hover
{
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
	color:#004684;
}


.footer{
	clear:both;
	height:22px;
	background:url(../images/footer_bgr.gif) left bottom repeat-x #fff;
	padding: 5px 10px;
	font-size:11px;
	border:1px solid #a7a6be;
	/*border-left:1px solid #a7a6be;
	border-bottom:1px solid #a7a6be;*/
}
.footerA{
	clear:both;
	height:2px;
	background:url(../images/contentarea_background.gif) left bottom repeat-x #fff;
	
}
.viewPDF{
	position:absolute;
	left:170px;
	top:100px;
	background-color:#fbfbfb;
	border:2px solid #000;
	width:800PX;
	z-index:999;
	padding:0px 3px 3px 3px;
}

.viewArea{
	background:#FFFFFF;
	border:1px solid #999999;
	height:450px;
	overflow:auto;
}


/*##############################################
			NEW CLASSES ADDED STARTS here
###############################################*/
.widthHeight{ width:100%; height:100%}
.widthHeighta{ width:100%; height:93.5%}
.widthHeightTree{ width:100%; height:85%}
.bgColor{ background-color:#FFFFFF;}
#menuScroll{ 
	overflow:auto; 
	height:100%;
	border:1px solid #a7a6be;
	border-top:0px;
	background-color:#FFFFFF;
	padding:8px;
	}
#contentScroll{ 
	overflow:auto; 
	height:100%;
	border:1px solid #a7a6be;
	border-top:0px;
	background:url(~gui/images/waves.gif) bottom right fixed no-repeat #ffffff; 
	padding:10px;
	}	
#spacetd{
	width:6px;
}

.Station
{
	font-family: verdana, arial, sans-serif, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #FA9000;
}

.monitoring, #leftNavigation #nav_monitoring h3 a{
	background:url(../images/icon_monitoring.gif) left top no-repeat;
	height:20px;
	font-size:12px;
	padding:10px 10px 0px 30px;
	font-weight:bold;
}

.tdBgcol{
	background-color:#fff;
}

.contentHeader{
 	background:url(../images/contentheader_bgr.gif) left top repeat-x #e1e2ea;
	border-bottom:1px solid #cdd3dc;
}

#contentHolder {
	WIDTH: 100%; POSITION: relative; background-color:#FFFFFF;
}


th1{
	font-weight:bold;
	padding:4px;
	background:url(../images/bgr_tabletitle.gif) top left repeat-x #c6c9d6;
	color:#0f2a62;
}

.button{
	height:18px;
	background:left top no-repeat;
	font-size:9px;
}

.hyperlink
{
	text-decoration: underline;
}

.listbox{
	background-color:#fbffde;
	font-family:Verdana, Arial, Helvetica, sans-serif;
 	border:1px solid silver; 
	vertical-align:middle;
	margin:2px 1px 5px 0px;
	font-size:10.5px;
}

.resultContainer{
	padding:4px 8px 4px 8px; text-align:right;
}

