﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="image.aspx.cs" Inherits="images_IE6_IEb_image" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TextBox ID="txt" runat="server" Height="232px" TextMode="MultiLine" 
            Width="468px"></asp:TextBox><asp:Button ID="btn" 
            runat="server" Text="ok" onclick="btn_Click" />
            <asp:DataGrid ID="dg" runat="server"></asp:DataGrid>
    </div>
    </form>
</body>
</html>
